In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("train.csv")

In [16]:
print(df.head(10))

   site_id  patient_id    image_id laterality view   age  cancer  biopsy  \
0        2       10006   462822612          L   CC  61.0       0       0
1        2       10006  1459541791          L  MLO  61.0       0       0
2        2       10006  1864590858          R  MLO  61.0       0       0
3        2       10006  1874946579          R   CC  61.0       0       0
4        2       10011   220375232          L   CC  55.0       0       0
5        2       10011   270344397          L  MLO  55.0       0       0
6        2       10011   541722628          R   CC  55.0       0       0
7        2       10011  1031443799          R  MLO  55.0       0       0
8        2       10025   562340703          L   CC  75.0       0       0
9        2       10025  1365269360          L  MLO  75.0       0       0

   invasive  BIRADS  implant density  machine_id  difficult_negative_case
0         0     NaN        0     NaN          29                    False
1         0     NaN        0     NaN          29                    False
2         0     NaN        0     NaN          29                    False
3         0     NaN        0     NaN          29                    False
4         0     0.0        0     NaN          21                     True
5         0     0.0        0     NaN          21                     True
6         0     NaN        0     NaN          21                    False
7         0     NaN        0     NaN          21                    False
8         0     NaN        0     NaN          29                    False
9         0     NaN        0     NaN          29                    False

In [17]:
df.describe()

,site_id,patient_id,image_id,age,cancer,biopsy,invasive,BIRADS,implant,machine_id
count,54706.000000,54706.000000,5.470600e+04,54669.000000,54706.000000,54706.000000,54706.000000,26286.000000,54706.000000,54706.000000
mean,1.460407,32698.865262,1.079386e+09,58.543928,0.021168,0.054272,0.014953,0.772350,0.026999,54.618378
std,0.498434,18893.861534,6.183269e+08,10.050884,0.143944,0.226556,0.121365,0.590062,0.162081,44.784800
min,1.000000,5.000000,6.849100e+04,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000
25%,1.000000,16481.000000,5.458153e+08,51.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.000000
50%,1.000000,32432.000000,1.082689e+09,59.000000,0.000000,0.000000,0.000000,1.000000,0.000000,49.000000
75%,2.000000,48999.000000,1.613228e+09,66.000000,0.000000,0.000000,0.000000,1.000000,0.000000,49.000000
max,2.000000,65534.000000,2.147472e+09,89.000000,1.000000,1.000000,1.000000,2.000000,1.000000,216.000000

In [18]:
df.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54706 entries, 0 to 54705
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   site_id                  54706 non-null  int64
 1   patient_id               54706 non-null  int64
 2   image_id                 54706 non-null  int64
 3   laterality               54706 non-null  object
 4   view                     54706 non-null  object
 5   age                      54669 non-null  float64
 6   cancer                   54706 non-null  int64
 7   biopsy                   54706 non-null  int64
 8   invasive                 54706 non-null  int64
 9   BIRADS                   26286 non-null  float64
 10  implant                  54706 non-null  int64
 11  density                  29470 non-null  object
 12  machine_id               54706 non-null  int64
 13  difficult_negative_case  54706 non-null  bool
dtypes: bool(1), float64(2), int64(8), object(3)
memory usage: 12.8 MB

In [19]:
df[df.isnull().any(axis=1)]

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54691,2,9968,2098937312,L,MLO,76.0,0,0,0,NaN,0,NaN,48,False
54692,2,9968,294168046,R,MLO,76.0,0,0,0,NaN,0,NaN,48,False
54693,2,9968,568005453,R,CC,76.0,0,0,0,NaN,0,NaN,48,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False

In [25]:
df_density = pd.get_dummies(df, prefix='Density', prefix_sep='', columns=['density'])
df_lat = pd.get_dummies(df_density, prefix='Laterality', prefix_sep='', columns=['laterality'])
df_view = pd.get_dummies(df_lat, prefix='View', prefix_sep='', columns=['view'])
df_final = pd.get_dummies(df_view, prefix='Difficult_Negative_Case', prefix_sep='', columns=['difficult_negative_case'])

print(df_final)

       site_id  patient_id    image_id   age  cancer  biopsy  invasive  \
0            2       10006   462822612  61.0       0       0         0
1            2       10006  1459541791  61.0       0       0         0
2            2       10006  1864590858  61.0       0       0         0
3            2       10006  1874946579  61.0       0       0         0
4            2       10011   220375232  55.0       0       0         0
...        ...         ...         ...   ...     ...     ...       ...
54701        1        9973  1729524723  43.0       0       0         0
54702        1        9989    63473691  60.0       0       0         0
54703        1        9989  1078943060  60.0       0       0         0
54704        1        9989   398038886  60.0       0       0         0
54705        1        9989   439796429  60.0       0       0         0

       BIRADS  implant  machine_id  ...  LateralityL  LateralityR  ViewAT  \
0         NaN        0          29  ...            1            0       0
1         NaN        0          29  ...            1            0       0
2         NaN        0          29  ...            0            1       0
3         NaN        0          29  ...            0            1       0
4         0.0        0          21  ...            1            0       0
...       ...      ...         ...  ...          ...          ...     ...
54701     1.0        0          49  ...            0            1       0
54702     NaN        0         216  ...            1            0       0
54703     NaN        0         216  ...            1            0       0
54704     0.0        0         216  ...            0            1       0
54705     0.0        0         216  ...            0            1       0

       ViewCC  ViewLM  ViewLMO  ViewML  ViewMLO  Difficult_Negative_CaseFalse  \
0           1       0        0       0        0                             1
1           0       0        0       0        1                             1
2           0       0        0       0        1                             1
3           1       0        0       0        0                             1
4           1       0        0       0        0                             0
...       ...     ...      ...     ...      ...                           ...
54701       0       0        0       0        1                             1
54702       0       0        0       0        1                             1
54703       1       0        0       0        0                             1
54704       0       0        0       0        1                             0
54705       1       0        0       0        0                             0

       Difficult_Negative_CaseTrue
0                                0
1                                0
2                                0
3                                0
4                                1
...                            ...
54701                            0
54702                            0
54703                            0
54704                            1
54705                            1

[54706 rows x 24 columns]

In [26]:
print('Original File')
print(df_final.head(10))

df_final.age.fillna(value=df_final.age.mean(), inplace=True)
df_final.BIRADS.fillna(value=0, inplace=True)

print()
print('Missing values replaced')
print(df_final.head(10))

Original File
   site_id  patient_id    image_id   age  cancer  biopsy  invasive  BIRADS  \
0        2       10006   462822612  61.0       0       0         0     NaN
1        2       10006  1459541791  61.0       0       0         0     NaN
2        2       10006  1864590858  61.0       0       0         0     NaN
3        2       10006  1874946579  61.0       0       0         0     NaN
4        2       10011   220375232  55.0       0       0         0     0.0
5        2       10011   270344397  55.0       0       0         0     0.0
6        2       10011   541722628  55.0       0       0         0     NaN
7        2       10011  1031443799  55.0       0       0         0     NaN
8        2       10025   562340703  75.0       0       0         0     NaN
9        2       10025  1365269360  75.0       0       0         0     NaN

   implant  machine_id  ...  LateralityL  LateralityR  ViewAT  ViewCC  ViewLM  \
0        0          29  ...            1            0       0       1       0
1        0          29  ...            1            0       0       0       0
2        0          29  ...            0            1       0       0       0
3        0          29  ...            0            1       0       1       0
4        0          21  ...            1            0       0       1       0
5        0          21  ...            1            0       0       0       0
6        0          21  ...            0            1       0       1       0
7        0          21  ...            0            1       0       0       0
8        0          29  ...            1            0       0       1       0
9        0          29  ...            1            0       0       0       0

   ViewLMO  ViewML  ViewMLO  Difficult_Negative_CaseFalse  \
0        0       0        0                             1
1        0       0        1                             1
2        0       0        1                             1
3        0       0        0                             1
4        0       0        0                             0
5        0       0        1                             0
6        0       0        0                             1
7        0       0        1                             1
8        0       0        0                             1
9        0       0        1                             1

   Difficult_Negative_CaseTrue
0                            0
1                            0
2                            0
3                            0
4                            1
5                            1
6                            0
7                            0
8                            0
9                            0

[10 rows x 24 columns]

Missing values replaced
   site_id  patient_id    image_id   age  cancer  biopsy  invasive  BIRADS  \
0        2       10006   462822612  61.0       0       0         0     0.0
1        2       10006  1459541791  61.0       0       0         0     0.0
2        2       10006  1864590858  61.0       0       0         0     0.0
3        2       10006  1874946579  61.0       0       0         0     0.0
4        2       10011   220375232  55.0       0       0         0     0.0
5        2       10011   270344397  55.0       0       0         0     0.0
6        2       10011   541722628  55.0       0       0         0     0.0
7        2       10011  1031443799  55.0       0       0         0     0.0
8        2       10025   562340703  75.0       0       0         0     0.0
9        2       10025  1365269360  75.0       0       0         0     0.0

   implant  machine_id  ...  LateralityL  LateralityR  ViewAT  ViewCC  ViewLM  \
0        0          29  ...            1            0       0       1       0
1        0          29  ...            1            0       0       0       0
2        0          29  ...            0            1       0       0       0
3        0          29  ...            0            1       0       1       0
4        0          21  ...            1            0       0       1       0
5        0          21  ...            1            0       0       0       0
6        0          21  ...            0            1       0       1       0
7        0          21  ...            0            1       0       0       0
8        0          29  ...            1            0       0       1       0
9        0          29  ...            1            0       0       0       0

   ViewLMO  ViewML  ViewMLO  Difficult_Negative_CaseFalse  \
0        0       0        0                             1
1        0       0        1                             1
2        0       0        1                             1
3        0       0        0                             1
4        0       0        0                             0
5        0       0        1                             0
6        0       0        0                             1
7        0       0        1                             1
8        0       0        0                             1
9        0       0        1                             1

   Difficult_Negative_CaseTrue
0                            0
1                            0
2                            0
3                            0
4                            1
5                            1
6                            0
7                            0
8                            0
9                            0

[10 rows x 24 columns]

In [27]:
df_final.to_csv('modifiedTrain.csv', index=False)